#mainStartDiv {
    margin-top: 20%;
}

.startInputFields {
    width: 200px;
    margin: auto;
}

#roboterHubDiv {
    width: 50%;
    height: 200px;
    float: left;
    background-color: grey;
}

#orderDIv {
    width: 50%;
    height: 200px;
    float: left;
    background-color: red;
}

#mapDiv {
    width: 100%;
    height: 300px;
    background-color: yellow;
}

#roboterHub {
    margin: auto;
}

.roboterHubText {
    font-size: large;
}